@import 'partials/reset';

$blue: #4C6085;
$teal: #CEFDFF;
$purple: #A288E3;
$off_white: #F6F7EB;
$off_black: #0B2027;

$primary_font: 'Noto Sans', sans-serif;
$secondary_font: 'Titillium Web', sans-serif;

nav {
  height: 80px;
  padding: 0 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  z-index: 10;

  ul li a {
    padding: 16px 16px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 790px) {
    .large-only {
        display: none;
    }
}

section {
  padding-top: 80px;
  height: 100vh;
}

body {
  font-family: $primary_font;
  background-color: $off_white;

  h1, h2, h3, h4, h5, h6, p {
    font-family: $secondary_font;
  }
}

h3 {
  font-size: 24px;
}

h2 {
  padding-left: 1.5vw;
  font-size: 48px;
}

#welcome {
  margin-top: 80px;
  height: calc(100vh - 160px);
  background-image: url('images/yosemite-1590013_1920.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $off_white;

  h1 {
    font-size: 6vw;
    text-shadow: 2px 2px 3px $off_black;
  }

  h3 {
    font-size: 3vw;
    text-shadow: 2px 2px 3px $off_black;
  }

}

#technologies {

  i {
    font-size: 182px;
  }

  i:hover {
    opacity: 0.7;
  }

  p {
    margin-top: 8px;
    margin-bottom: 2vh;
    font-size: 32.5px;
    font-weight: 700;
    opacity: 0.8;
  }

  @media only screen and (max-width: 1300px) {
      i {
          font-size: 14vw;
      }

      p {
        font-size: 2.5vw;
      }
  }

  @media only screen and (max-width: 992px) {
      i {
          font-size: 18vw;
      }

      p {
        font-size: 3vw;
      }
  }

  @media only screen and (max-width: 600px) {
      i {
          font-size: 24vw;
      }

      p {
        font-size: 5vw;
      }
  }

  .col {
    align-items: center;
  }


}

#portfolio {
  div {
    z-index: -1;
  }
}

.pad-bottom {
  margin-bottom: 2vh;
}

.technology {
  text-align: center;
}

.about-card {
  position: relative;
  display: inline-block;
  width: 90%;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
}

.card-image {
  width: 100%;
}

.hover-text {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  color: rgba(0, 0, 0, 0);
  transition: all 1.5s ease;
}

@media only screen and (min-width: 840px) {
  .about-card {
    width: 45%;
    margin: 2.3%;
  }
}

.about-container {
  padding: 2px 16px;
}

.about-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}

.about-card:hover > .hover-text  {
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
}
