@import 'partials/reset';

$color_1: #4B88A2;
$color_2: #BB0A21;
$color_3: #6B9080;
$off_white: #FFF9FB;
$off_black: #020F0F;

$primary_font: 'Noto Sans', sans-serif;
$secondary_font: 'Titillium Web', sans-serif;

nav {
  height: 80px;
  padding: 0 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color_1;
}

section {
  height: 100vh;
}

body {
  font-family: $primary_font;

  h1, h2, h3, h4, h5, h6 {
    font-family: $secondary_font;
  }
}

h3 {
  font-size: 24px;
}

header {
  margin-top: 80px;
  height: 80vh;
  background-image: url('images/yosemite-1590013_1920.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $off_white;

  h1 {
    font-size: 6vw;
    text-shadow: 2px 2px 3px $off_black;
  }

  h3 {
    font-size: 3vw;
    text-shadow: 2px 2px 3px $off_black;
  }

}

#technologies {
  i {
    font-size: 4vh;
  }

  .col {
    align-items: center;
  }
}
