@import 'partials/reset';

$blue: #4C6085;
$teal: #CEFDFF;
$purple: #A288E3;
$off_white: #F6F7EB;
$off_black: #0B2027;

$primary_font: 'Noto Sans', sans-serif;
$secondary_font: 'Titillium Web', sans-serif;

nav {
  height: 80px;
  padding: 0 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
}

@media only screen and (max-width: 790px) {
    .large-only {
        display: none;
    }
}

section {
  padding-top: 80px;
  height: 100vh;
}

body {
  font-family: $primary_font;
  background-color: $off_white;

  h1, h2, h3, h4, h5, h6 {
    font-family: $secondary_font;
  }
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 48px;
}

header {
  margin-top: 80px;
  height: calc(100vh - 160px);
  background-image: url('images/yosemite-1590013_1920.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $off_white;

  h1 {
    font-size: 6vw;
    text-shadow: 2px 2px 3px $off_black;
  }

  h3 {
    font-size: 3vw;
    text-shadow: 2px 2px 3px $off_black;
  }

}

#technologies {
  i {
    font-size: 4vh;
  }

  .col {
    align-items: center;
  }
}

#portfolio {
  div {
    z-index: -1;
  }
}
