html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  height: 80px;
  padding: 0 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4C6085;
  z-index: 10; }
  nav ul li a {
    padding: 16px 16px;
    border-radius: 5px; }

@media only screen and (max-width: 815px) {
  .large-only {
    display: none; } }
section {
  padding-top: 80px;
  min-height: 100vh; }

body {
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  background-color: #F6F7EB;
  color: #0B2027; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    font-family: "IBM Plex Sans", sans-serif; }

h3 {
  font-size: 24px; }

h2 {
  text-align: center;
  font-size: 48px; }

#welcome {
  margin-top: 80px;
  height: calc(100vh - 80px);
  background-image: url("images/yosemite-1590013_1920.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F6F7EB; }
  #welcome h1 {
    font-size: 6vw;
    text-shadow: 2px 2px 3px #0B2027; }
  #welcome h3 {
    font-size: 3vw;
    text-shadow: 2px 2px 3px #0B2027; }

#technologies i {
  font-size: 182px; }
#technologies i:hover {
  opacity: 0.7; }
#technologies p {
  margin-top: 8px;
  margin-bottom: 2vh;
  font-size: 32.5px;
  font-weight: 700;
  opacity: 0.8; }
@media only screen and (max-width: 1300px) {
  #technologies i {
    font-size: 14vw; }
  #technologies p {
    font-size: 2.5vw; } }
@media only screen and (max-width: 992px) {
  #technologies i {
    font-size: 18vw; }
  #technologies p {
    font-size: 3vw; } }
@media only screen and (max-width: 600px) {
  #technologies i {
    font-size: 24vw; }
  #technologies p {
    font-size: 5vw; } }
#technologies .col {
  align-items: center; }

.pad-bottom {
  margin-bottom: 2vh; }

.technology {
  text-align: center; }

.about-card {
  position: relative;
  display: inline-block;
  width: 90%;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  transition: 0.3s; }

.card-image {
  width: 100%; }

.hover-text {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0);
  transform: rotateY(85deg);
  top: 0;
  color: rgba(0, 0, 0, 0);
  transition: all 1.5s ease; }

@media only screen and (min-width: 840px) {
  .about-card {
    width: 45%;
    margin: 2.3%; } }
.about-container {
  padding: 2px 16px; }

.about-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7); }

.about-card:hover > .hover-text {
  background-color: white;
  color: black;
  transform: rotateY(0deg); }

.project-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%; }

.project-card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 99%;
  margin: 25px 0.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  transition: 0.3s; }

.project-video {
  width: 100%; }

.project-hover-text {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 0%;
  height: 0%;
  padding: 4% 5%;
  background-color: rgba(255, 255, 255, 0);
  transform: rotate(220deg);
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0);
  transition: all 1.5s ease; }
  .project-hover-text a {
    font-size: 12px;
    opacity: 0; }
  @media only screen and (min-width: 600px) {
    .project-hover-text a {
      font-size: 2vw; } }

.project-container {
  position: absolute;
  margin: 12px 8px;
  bottom: 0;
  text-shadow: 0px 0px 0.5px #F6F7EB;
  font-weight: 700; }
  .project-container h4 {
    font-size: 21px; }
  .project-container p {
    font-size: 10px; }

@media only screen and (min-width: 600px) {
  .project-container h4 {
    font-size: 3.5vw; }
  .project-container p {
    font-size: 2vw; } }
@media only screen and (min-width: 1200px) {
  .project-card {
    width: 1188px;
    margin: 25px calc((100vw - 1188px) / 2); }

  .project-container h4 {
    font-size: 42px; }
  .project-container p {
    font-size: 24px; } }
.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7); }

.project-card:hover > .project-hover-text {
  background-color: white;
  color: black;
  transform: rotate(0deg);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .project-card:hover > .project-hover-text a {
    opacity: 1; }
  .project-card:hover > .project-hover-text a:hover {
    opacity: 0.6; }

#about {
  background-color: #E3C0D3; }
  #about main {
    padding: 20px; }
  @media only screen and (min-width: 200px) {
    #about main {
      padding: 20px 10%; } }
  @media only screen and (min-width: 1000px) {
    #about main {
      display: flex;
      justify-content: space-between; }
    #about .about-aside {
      width: 35%; }
    #about .about-div {
      width: 60%; } }
  #about h4 {
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700; }
  #about p {
    line-height: 1.5;
    font-size: 16px; }

.about-aside img {
  float: left;
  width: 40%;
  margin-right: 15px;
  margin-bottom: 15px; }

.education-header, .company-details {
  font-size: 19px;
  padding: 8px 0;
  display: flex;
  justify-content: space-between; }

.job-title {
  padding: 10px 0;
  font-size: 19px;
  font-weight: 700; }

@media only screen and (max-width: 700px) {
  .company-details {
    display: block;
    font-size: 16px; }

  .company-details h5 {
    padding-bottom: 10px; } }
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .company-details {
    font-size: 16px; } }
.education-name, .company {
  font-style: italic; }

.about-div .job-bullets li {
  line-height: 1.5;
  list-style: disc;
  margin: 10px 0; }

#portfolio b {
  font-weight: 700; }
#portfolio li {
  line-height: 1.5;
  list-style: disc; }
#portfolio p {
  line-height: 1.5; }

#contact {
  background-color: #E3C0D3; }
  #contact form {
    width: 80%;
    margin: 0 auto; }
  #contact textarea {
    background-color: #ddd;
    border-radius: 6px;
    height: 40vh;
    min-height: 100px;
    margin-top: 15px;
    padding: 8px;
    color: #444; }
  #contact textarea:focus {
    background-color: #e5e5e5; }
  #contact input {
    color: #444; }
  #contact label {
    color: #777; }
  #contact .submit-button-div {
    display: flex;
    justify-content: space-around; }
  #contact button {
    color: #444;
    font-weight: 700;
    border-radius: 10px;
    background-color: #6ad;
    height: 6vh;
    width: 35%;
    border: none;
    box-shadow: 1px 1px 2px 2px #678; }
  #contact button:hover {
    background-color: #7be;
    box-shadow: 1px 1px 2px 2px #789; }
  #contact button:active {
    background-color: #59c; }

/*# sourceMappingURL=style.css.map */
